mixin input(type, label, name, placeholder, className, options)
  label.input(class=`${className || ''}${(options && (options.dropdown || options.citiesSearch)) ? ' dropdown' : ''}`, data-cities=options && options.citiesSearch, data-social=options && options.social)
    if label.length
      p.input__label!= label
    .input__wrapper
      if options && options.dropdown
        .input__dropdown.dropdown__menu!= options.dropdown
      if options && options.citiesSearch
        .input__dropdown.dropdown__menu
      if type === 'tel'
        .input__code.dropdown(data-code-loc="ru", data-mask="+7 (999) 999-99-99")
          .input__dropdown.dropdown__menu
            a.input__dropdown-item.dropdown__menu-item(href="javascript: void(0)", data-code-loc="ru", data-mask="+7 (999) 999-99-99") Россия +7
            a.input__dropdown-item.dropdown__menu-item(href="javascript: void(0)", data-code-loc="ua", data-mask="+380 (99) 999-99-99") Украина +380
      input.input__field(
        type=type,
        name=name,
        required=options && options.required,
        placeholder=placeholder,
        value=options && options.value,
        readonly=(options && options.readonly) || (options && options.dropdown && !options.search),
        data-min=options && options.min,
        data-pass=options && options.pass,
        data-pass-repeat=options && options.repeatPass)
    if options && options.dropdown
      input.input__value(type="hidden", name=name + '_value')
    if options && options.error
      p.input__error!= options.error