include ../_ui/input/input
include ../_ui/textarea/textarea
include ../_ui/checkbox/checkbox
include ../_ui/radio/radio
include ../_ui/button/button
include ../_ui/application/application

-const times = ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00']
-const exps = ['2 года', '3 года', '4 года', '5 лет', '6 лет', '7 лет', '8 лет', '9 лет', '10 лет', '11 лет', '12 лет', '13 лет', '14 лет', '15 лет', '16 лет', '17 лет', '18 лет', '19 лет', '20 лет', 'Больше 20 лет']

mixin personal(type, page)
  section.personal.container
    .personal__wrapper.wrapper
      aside.personal__aside
        nav.personal__nav
          if type === 'tutor'
            if ['applications-new', 'applications-accepted', 'applications-declined'].includes(page)
              p.personal__nav-heading Мои заявки
              a.personal__nav-item(class=`${page === 'applications-new' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-applications.html") Новые заявки <span>(2)</span>
              a.personal__nav-item(class=`${page === 'applications-accepted' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-applications-accepted.html") Подтвержденные заявки <span>(11)</span>
              a.personal__nav-item(class=`${page === 'applications-declined' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-applications-declined.html") Отклоненные заявки <span>(5)</span>
              a.personal__nav-item.personal__nav-item--back(href="lk-tutor-edit.html") Личный кабинет
            else
              p.personal__nav-heading Личный кабинет
              a.personal__nav-item(class=`${page === 'profile' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-edit.html") Мой профиль
              a.personal__nav-item(href="#") Мой баланс
              a.personal__nav-item(href="lk-tutor-applications.html") Мои заявки
              a.personal__nav-item(class=`${page === 'schedule' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-schedule.html") Мое расписание
              a.personal__nav-item(href="chat-tutor.html") Мои диалоги
                span.personal__nav-counter 10
              a.personal__nav-item(class=`${page === 'ref' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-ref.html") Партнерская программа
              a.personal__nav-item.personal__nav-item--green(class=`${page === 'services' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-services.html") Платные услуги
              a.personal__nav-item.personal__nav-item--bold(class=`${page === 'verify' ? 'personal__nav-item--current' : ''}`, href="lk-tutor-verify.html") Верификация аккаунта
                if page === 'profile-empty' || page === 'verify'
                  span.personal__nav-unverified не подтвержден
                else
                  span.personal__nav-verified подтвержден
          if type === 'student'
            if ['applications', 'applications-accepted', 'applications-paid', 'applications-declined'].includes(page)
              p.personal__nav-heading Мои заявки
              a.personal__nav-item(class=`${page === 'applications' ? 'personal__nav-item--current' : ''}`, href="lk-student-applications.html") Активные заявки <span>(1)</span>
              a.personal__nav-item(class=`${page === 'applications-accepted' ? 'personal__nav-item--current' : ''}`, href="lk-student-applications-accepted.html") Подтвержденные заявки <span>(2)</span>
              a.personal__nav-item(class=`${page === 'applications-paid' ? 'personal__nav-item--current' : ''}`, href="lk-student-applications-paid.html") Оплаченные заявки <span>(1)</span>
              a.personal__nav-item(class=`${page === 'applications-declined' ? 'personal__nav-item--current' : ''}`, href="lk-student-applications-declined.html") Отклоненные заявки <span>(2)</span>
              a.personal__nav-item.personal__nav-item--back(href="lk-student-edit.html") Личный кабинет
            else
              p.personal__nav-heading Личный кабинет
              a.personal__nav-item(class=`${page === 'profile' ? 'personal__nav-item--current' : ''}`, href="lk-student-edit.html") Мой профиль
              a.personal__nav-item(href="#") Мой баланс
              a.personal__nav-item(href="lk-student-applications.html") Мои заявки
              a.personal__nav-item(href="chat-student.html") Мои диалоги
                span.personal__nav-counter 10
              a.personal__nav-item(class=`${(page === 'offers' || page === 'offers-none') ? 'personal__nav-item--current' : ''}`, href="lk-student-offers.html") Предложения репетиторов
                if page !== 'offers-none'
                  span.personal__nav-counter 2
      main.personal__main
        if (type === 'tutor' || type === 'student') && (page === 'profile' || page === 'profile-empty')
          .personal__card
            .personal__card-heading
              p.personal__card-title Личные данные
            .personal__card-content
              form.personal__data(action="", data-personal-data) 
                .personal__data-aside
                  .personal__data-image
                    if page === 'profile'
                      .personal__data-image-pic(style="background-image: url('img/inhtml/student-1.jpg')")
                      a.personal__data-image-change.js-open-popup(href="javascript:void(0)", data-popup="edit-photo") Изменить фото
                    if page === 'profile-empty'
                      .personal__data-image-pic
                      a.personal__data-image-change.js-open-popup(href="javascript:void(0)", data-popup="edit-photo") Загрузить фото
                  .personal__data-socials
                    p.personal__data-socials-heading Привязать соц. сети
                    if page === 'profile'
                      .personal__data-socials-item
                        a.personal__data-social.personal__data-social--disabled(data-social="fb", href="#") Facebook
                        .personal__data-socials-acc
                          p.personal__data-socials-name Konstantin R.
                          a.personal__data-socials-unlink.js-open-popup(href="javascript:void(0)", data-popup="unlink-fb") Отвязать
                      .personal__data-socials-item
                        a.personal__data-social.personal__data-social--disabled(data-social="google", href="#") Gmail
                        .personal__data-socials-acc
                          p.personal__data-socials-name Konstantin R.
                          a.personal__data-socials-unlink.js-open-popup(href="javascript:void(0)", data-popup="unlink-google") Отвязать
                    if page === 'profile-empty'
                      .personal__data-socials-item
                        a.personal__data-social(data-social="fb", href="#") Facebook
                      .personal__data-socials-item
                        a.personal__data-social(data-social="google", href="#") Gmail
                .personal__data-main
                  +input('text', 'Ваше имя <span>*</span>', 'name', 'Введите ваше имя', 'auth__input', {required: true, error: 'Введите корректные данные', value: 'Анна'})
                  +input('text', 'Ваша фамилия <span>*</span>', 'surname', 'Введите вашу фамилию', 'auth__input', {required: true, error: 'Введите корректные данные', value: 'Иванова'})
                  +input('email', 'Ваш email <span>*</span>', 'email', 'Введите ваш email', 'auth__input', {required: true, error: 'Введите корректный email', value: 'mail@demolink.org'})
                  +input('tel', 'Номер телефона <span>*</span>', 'phone', '+7 (___) ___-__-__', 'auth__input', {required: true, error: 'Введите корректный номер телефона', value: '+7 495 000-00-00'})
                  +input('text', 'Ваша страна <span>*</span>', 'country', 'Выберите страну', 'auth__input js-auth-country', {required: true, error: 'Выберите страну из списка', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Россия</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Украина</a>', value: 'Россия'})
                  +input('text', 'Ваш город <span>*</span>', 'city', 'Введите ваш город', 'auth__input js-auth-city', {required: true, error: 'Выберите город', citiesSearch: true, value: 'Москва'})
                  +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          if type === 'tutor'
            .personal__card
              .personal__card-heading
                p.personal__card-title Информация для учеников
              .personal__card-content
                form(action="", data-personal-info)
                  +textarea('О себе <span>*</span>', 'about', 'Введите краткую информацию о себе', 'auth__input', {required: true, error: 'Ввведите информацию о себе', value: 'Привет!\n\nМеня зовут Оджасви. Моя цель как репетитора английского - помочь вам достичь своей!\nПочему я? Мои сильные стороны как наставника - терпение, страсть к обучению, получать удовольствие от занятий и сохранять интерактивность или коммуникативность!'})
                  +input('text', 'Видео-приветствие', 'video', 'Вставьте ссылку с youtube', 'auth__input')
                  +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          if type === 'student'
            .personal__card
              .personal__card-heading
                p.personal__card-title Информация для репетиторов
              .personal__card-content
                form(action="", data-personal-info)
                  +textarea('О себе <span>*</span>', 'about', 'Введите краткую информацию о себе', 'auth__input', {required: true, error: 'Ввведите информацию о себе', value: 'Привет!\n\nМеня зовут Оджасви. Моя цель как репетитора английского - помочь вам достичь своей!\nПочему я? Мои сильные стороны как наставника - терпение, страсть к обучению, получать удовольствие от занятий и сохранять интерактивность или коммуникативность!'})
                  .personal__specialization-grid.personal__specialization-grid--up
                    .personal__specialization-item
                      .personal__specialization-row.personal__specialization-row--big
                        +input('text', 'Интересующий предмет <span>*</span>', 'subject', 'Выберите предмет', 'auth__input', {required: true, error: 'Выберите предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="3">Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="4">Французский язык</a>'})
                        +input('text', 'Желаемая цена за час <span>*</span>', 'price', 'Введите цену', 'auth__input', {required: true, error: 'Введите цену'})
                    .personal__specialization-item.js-copy-item
                      .personal__specialization-row.personal__specialization-row--big
                        +input('text', 'Интересующий предмет', 'subject', 'Выберите предмет', 'auth__input', {dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="3">Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="4">Французский язык</a>'})
                        +input('text', 'Желаемая цена за час', 'price', 'Введите цену', 'auth__input')
                  a.personal__add.js-personal-add(href="javascript:void(0)") Добавить еще специализацию
                  .personal__global
                    +checkbox('Выводить меня в глобальном поиске', 'globalSearch', 'auth__checkbox', false, false, {hint: 'В случае включения данной опции, ваш профиль будет выводится в общем каталоге учеников для репетитора. Репетитор сам может предложить вам свои услуги.'})
                  +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          if type === 'tutor'
            .personal__card
              .personal__card-heading
                p.personal__card-title Специализация
              .personal__card-content
                form.personal__specialization(action="", data-personal-specialization)
                  .personal__specialization-grid
                    .personal__specialization-item
                      .personal__specialization-row
                        +input('text', 'Специализация <span>*</span>', 'specialization[]', 'Выберите предмет', 'auth__input', {required: true, error: 'Выберите предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="3">Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="4">Французский язык</a>'})
                        +input('text', 'Цена за час <span>*</span>', 'price[]', 'Введите цену', 'auth__input', {required: true, error: 'Введите цену'})
                        .personal__specialization-exp
                          p.personal__specialization-exp-label Опыт работы <span>*</span>
                          .profile-schedule__time.dropdown.dropdown--caret
                            input(name="experience[]", value="1 год", type="hidden")
                            p.profile-schedule__time-value.dropdown__value 1 год
                            .profile-schedule__time-menu.dropdown__menu
                              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 1 год
                              -for (let i = 0; i < exps.length; i++)
                                a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= exps[i]
                    .personal__specialization-item.js-copy-item(style="display: none;")
                      .personal__specialization-row
                        +input('text', 'Специализация <span>*</span>', 'specialization[]', 'Выберите предмет', 'auth__input', {error: 'Выберите предмет', dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="3">Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="4">Французский язык</a>'})
                        +input('text', 'Цена за час <span>*</span>', 'price[]', 'Введите цену', 'auth__input', {error: 'Введите цену'})
                        .personal__specialization-exp
                          p.personal__specialization-exp-label Опыт работы <span>*</span>
                          .profile-schedule__time.dropdown.dropdown--caret
                            input(name="experience[]", value="1 год", type="hidden")
                            p.profile-schedule__time-value.dropdown__value 1 год
                            .profile-schedule__time-menu.dropdown__menu
                              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 1 год
                              -for (let i = 0; i < exps.length; i++)
                                a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= exps[i]
                      a.personal__remove.js-personal-remove(href="javascript:void(0)") Удалить специализацию
                  a.personal__add.js-personal-add(href="javascript:void(0)") Добавить еще специализацию
                  .personal__specialization-type
                    p.personal__specialization-label Тип проводимых занятий <span>*</span>
                    +checkbox('Онлайн <span>(вам желательно заполнить <a href="lk-tutor-schedule.html">свое расписание</a>)</span>', 'online', 'personal__specialization-checkbox', false, true)
                    +checkbox('Оффлайн <span>(вам желательно заполнить <a href="lk-tutor-schedule.html">свое расписание</a>)</span>', 'offline', 'personal__specialization-checkbox')
                  +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          if type === 'tutor'
            .personal__card
              .personal__card-heading
                p.personal__card-title Опыт работы
              .personal__card-content
                p.personal__card-desc Вы можете указать ваше место работы, должность и период (необязательно для заполнения).
                form.personal__experience(action="", data-personal-experience)
                  .personal__experience-grid
                    .personal__experience-item
                      .personal__experience-row
                        +input('text', 'Место работы', 'workplace', 'Название компании', 'auth__input')
                        +input('text', 'Кем вы работали', 'position', 'Ваша должность', 'auth__input')
                      .personal__experience-row
                        +input('text', '', 'specialization', 'Выберите специализацию', 'auth__input', {dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="3">Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="4">Французский язык</a>'})
                        .personal__experience-years
                          span С
                          .profile-schedule__time.dropdown.dropdown--caret
                            input(name="workFrom", value="2000", type="hidden")
                            p.profile-schedule__time-value.dropdown__value 2000
                            .profile-schedule__time-menu.dropdown__menu
                              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 2000
                              -for (let i = 2001; i <= 2021; i++)
                                a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= i
                          span по
                          .profile-schedule__time.dropdown.dropdown--caret
                            input(name="workTo", value="2000", type="hidden")
                            p.profile-schedule__time-value.dropdown__value 2000
                            .profile-schedule__time-menu.dropdown__menu
                              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 2000
                              -for (let i = 2001; i <= 2021; i++)
                                a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= i
                      a.personal__remove.js-personal-remove(href="javascript:void(0)") Удалить место работы
                    .personal__experience-item.js-copy-item(style="display:none;")
                      .personal__experience-row
                        +input('text', 'Место работы', 'workplace', 'Название компании', 'auth__input')
                        +input('text', 'Кем вы работали', 'position', 'Ваша должность', 'auth__input')
                      .personal__experience-row
                        +input('text', '', 'specialization', 'Выберите специализацию', 'auth__input', {dropdown: '<a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="1">Английский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="2">Немецкий язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="3">Итальянский язык</a><a class="input__dropdown-item dropdown__menu-item" href="javascript: void(0)" data-dropdown data-value="4">Французский язык</a>'})
                        .personal__experience-years
                          span С
                          .profile-schedule__time.dropdown.dropdown--caret
                            input(name="workFrom", value="2000", type="hidden")
                            p.profile-schedule__time-value.dropdown__value 2000
                            .profile-schedule__time-menu.dropdown__menu
                              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 2000
                              -for (let i = 2001; i <= 2021; i++)
                                a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= i
                          span по
                          .profile-schedule__time.dropdown.dropdown--caret
                            input(name="workTo", value="2000", type="hidden")
                            p.profile-schedule__time-value.dropdown__value 2000
                            .profile-schedule__time-menu.dropdown__menu
                              a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 2000
                              -for (let i = 2001; i <= 2021; i++)
                                a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= i
                      a.personal__remove.js-personal-remove(href="javascript:void(0)") Удалить место работы
                  a.personal__add.js-personal-add(href="javascript:void(0)") Добавить еще место работы
                  +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          if type === 'tutor'
            .personal__card
              .personal__card-heading
                p.personal__card-title Дополнительные контакты
              .personal__card-content
                p.personal__card-desc Данная информация будет видна у вас в профиле после оплаты учеником 1 занятия.
                form(action="", data-personal-contacts)
                  +input('text', '', 'telegram', 'Telegram', 'auth__input', {social: 'telegram'})
                  +input('text', '', 'viber', 'Viber', 'auth__input', {social: 'viber'})
                  +input('text', '', 'whatsapp', 'WhatsApp', 'auth__input', {social: 'whatsapp'})
                  +input('text', '', 'skype', 'Skype', 'auth__input', {social: 'skype'})
                  +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          .personal__card
            .personal__card-heading
              p.personal__card-title Смена пароля
            .personal__card-content
              form(action="", data-personal-pass)
                +input('password', 'Старый пароль <span>*</span>', 'oldPassword', 'Введите старый пароль', 'auth__input', {required: true, error: 'Введите пароль'})
                +input('password', 'Новый пароль <span>*</span>', 'password', 'Введите новый пароль', 'auth__input', {required: true, pass: true, error: 'Введите новый пароль'})
                +input('password', 'Новый пароль еще раз <span>*</span>', 'passwordRepeat', 'Введите новый пароль', 'auth__input', {required: true, repeatPass: true, error: 'Введите совпадающий новый пароль'})
                +button('primary', 'submit', 'Изменить пароль', 'personal__card-submit')
          .personal__card
            .personal__card-heading
              p.personal__card-title Получать уведомления по почте
            .personal__card-content
              form(action="", data-personal-notification)
                +checkbox('Системные уведомления', 'systemNotifications', 'personal__card-checkbox', false, true)
                +checkbox('Я хочу получать новости сайта', 'news', 'personal__card-checkbox')
                +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
        if type === 'tutor' && page === 'schedule'
          .personal__card(data-schedule-main)
            .personal__card-heading
              p.personal__card-title Мое расписание
            .personal__timezone
              .profile-schedule__timezone
                p.profile-schedule__timezone-label Ваш часовой пояс:
                .profile-schedule__timezone-dropdown.dropdown.dropdown--caret
                  input(name="timezone", value="UTC + 00:00", type="hidden")
                  p.profile-schedule__timezone-value.dropdown__value UTC + 00:00
                  .profile-schedule__timezone-menu.dropdown__menu
                    a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) UTC + 00:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 01:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 02:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 03:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 04:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 05:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 06:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 07:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 08:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 09:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 10:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 11:00
                    a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 12:00
            p.personal__card-desc Ваше время работы по дням недели
            form.personal__schedule(action="")
              .personal__schedule-item
                +checkbox('Понедельник', 'monday', 'personal__schedule-checkbox', false, true)
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeFrom", value="08:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 08:00
                    .profile-schedule__time-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 08:00
                      -for (let i = 1; i < times.length; i++)
                        a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="17:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 17:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 9
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              .personal__schedule-item
                +checkbox('Вторник', 'tuesday', 'personal__schedule-checkbox', false, true)
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeFrom", value="08:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 08:00
                    .profile-schedule__time-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 08:00
                      -for (let i = 1; i < times.length; i++)
                        a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="17:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 17:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 9
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              .personal__schedule-item
                +checkbox('Среда', 'wednesday', 'personal__schedule-checkbox', false, true)
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeFrom", value="08:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 08:00
                    .profile-schedule__time-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 08:00
                      -for (let i = 1; i < times.length; i++)
                        a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="17:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 17:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 9
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              .personal__schedule-item
                +checkbox('Четверг', 'thursday', 'personal__schedule-checkbox', false, true)
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeFrom", value="08:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 08:00
                    .profile-schedule__time-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 08:00
                      -for (let i = 1; i < times.length; i++)
                        a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="17:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 17:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 9
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              .personal__schedule-item
                +checkbox('Пятница', 'friday', 'personal__schedule-checkbox', false, true)
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    p.profile-schedule__time-value.dropdown__value 09:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 1
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="17:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 17:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 9
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              .personal__schedule-item
                +checkbox('Суббота', 'saturday', 'personal__schedule-checkbox', false, true)
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeFrom", value="08:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 08:00
                    .profile-schedule__time-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 08:00
                      -for (let i = 1; i < times.length; i++)
                        a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="16:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 16:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 8
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              .personal__schedule-item
                +checkbox('Воскресенье', 'sunday', 'personal__schedule-checkbox')
                .personal__schedule-time
                  span С
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeFrom", value="08:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 08:00
                    .profile-schedule__time-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 08:00
                      -for (let i = 1; i < times.length; i++)
                        a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  span до
                  .profile-schedule__time.dropdown.dropdown--caret
                    input(name="timeTo", value="17:00", type="hidden")
                    p.profile-schedule__time-value.dropdown__value 17:00
                    .profile-schedule__time-menu.dropdown__menu
                      -for (let i = 0; i < times.length; i++)
                        if i === 9
                          a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle)= times[i]
                        else
                          a.dropdown__menu-item(href="javascript:void(0)", data-toggle)= times[i]
                  a.personal__schedule-time-link(href="javascript:void(0)", data-schedule="1") Детальное расписание
              +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
          -for (let i = 0; i < 3; i++)
            .personal__card(data-schedule-detail=i + 1)
              .personal__card-heading
                a.personal__back(href="javascript:void(0)") Назад
                p.personal__card-title Детальное расписание
              .profile-schedule__head
                .profile-schedule__controls
                  .profile-schedule__controls-buttons
                    if i === 0
                      button.profile-schedule__controls-button.profile-schedule__controls-button--prev.profile-schedule__controls-button--disabled
                    else
                      button.profile-schedule__controls-button.profile-schedule__controls-button--prev
                    if i === 2
                      button.profile-schedule__controls-button.profile-schedule__controls-button--next.profile-schedule__controls-button--disabled
                    else
                      button.profile-schedule__controls-button.profile-schedule__controls-button--next
                  p.profile-schedule__controls-dates= `июль ${16 + i}, 2021`
                .profile-schedule__timezone
                  p.profile-schedule__timezone-label Ваш часовой пояс:
                  .profile-schedule__timezone-dropdown.dropdown.dropdown--caret
                    input(name="timezone", value="UTC + 00:00", type="hidden")
                    p.profile-schedule__timezone-value.dropdown__value UTC + 00:00
                    .profile-schedule__timezone-menu.dropdown__menu
                      a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) UTC + 00:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 01:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 02:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 03:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 04:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 05:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 06:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 07:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 08:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 09:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 10:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 11:00
                      a.dropdown__menu-item(href="javascript:void(0)", data-toggle) UTC + 12:00
              .personal__schedule-desc
                p.personal__card-desc= `Расписание на ${16 + i} июля, 2021 (${i === 0 ? 'Пятница' : i === 1 ? 'Суббота' : 'Воскресенье'})`
              form.personal__schedule-times(action="")
                .personal__schedule-times-row
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 09:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`09:30_${16 + 1}_июль`, value="available")
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`09:30_${16 + 1}_июль`, value="unavailable", checked)
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 10:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`10:00_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`10:00_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 10:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`10:30_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`10:30_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 11:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`11:00_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`11:00_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 11:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`11:30_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`11:30_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 12:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`12:00_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`12:00_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 12:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`12:30_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`12:30_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 13:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`13:00_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`13:00_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 13:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`13:30_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`13:30_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 14:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`14:00_${16 + 1}_июль`, value="available")
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`14:00_${16 + 1}_июль`, value="unavailable", checked)
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 14:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`14:30_${16 + 1}_июль`, value="available")
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`14:30_${16 + 1}_июль`, value="unavailable", checked)
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 15:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`15:00_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`15:00_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 15:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`15:30_${16 + 1}_июль`, value="available", checked)
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`15:30_${16 + 1}_июль`, value="unavailable")
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 16:00
                    label.personal__schedule-times-label
                      input(type="radio", name=`16:00_${16 + 1}_июль`, value="available")
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`16:00_${16 + 1}_июль`, value="unavailable", checked)
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                  .personal__schedule-times-item
                    p.personal__schedule-times-value 16:30
                    label.personal__schedule-times-label
                      input(type="radio", name=`16:30_${16 + 1}_июль`, value="available")
                      p.personal__schedule-times-btn(data-value="available") Доступно
                    label.personal__schedule-times-label
                      input(type="radio", name=`16:30_${16 + 1}_июль`, value="unavailable", checked)
                      p.personal__schedule-times-btn(data-value="unavailable") Недоступно
                +button('primary', 'submit', 'Сохранить', 'personal__card-submit')
        if type === 'tutor' && page === 'applications-new'
          .personal__card
            .personal__card-heading
              p.personal__card-title Новые заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__card-content
              +application('tutor', {person: {image: 'tutor-2.jpg', name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']]})
              +application('tutor', {person: {image: 'tutor-3.jpg', name: 'Анастасия Петрова'}, type: 'Бронирование даты', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']]})
        if type === 'tutor' && page === 'applications-accepted'
          .personal__card
            .personal__card-heading
              p.personal__card-title Подтвержденные заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            .personal__card-content
              +application-past('tutor', {person: {name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']], status: 'Ожидает оплаты'})
              +application-past('tutor', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']], status: 'Оплачено'})
              +application-past('tutor', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']], status: 'Оплачено'})
              +application-past('tutor', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']], status: 'Оплачено'})
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            +button('secondary', 'button', 'Загрузить еще', 'personal__more')
        if type === 'tutor' && page === 'applications-declined'
          .personal__card
            .personal__card-heading
              p.personal__card-title Отклоненные заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            .personal__card-content
              +application-past('tutor', {person: {name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']]})
              +application-past('tutor', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']]})
              +application-past('tutor', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']]})
              +application-past('tutor', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']]})
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            +button('secondary', 'button', 'Загрузить еще', 'personal__more')
        if type === 'tutor' && (page === 'services' || page === 'services-rated')
          .personal__card
            .personal__card-heading
              p.personal__card-title Платные услуги
            .personal__card-content
              form.personal__services(action="", data-service-form) 
                .personal__services-grid
                  label.personal__services-label
                    input(type="radio", name="service", value="top", checked)
                    .personal__services-item.personal__services-item--hit
                      p.personal__services-heading Топ репетиторов на главной
                      p.personal__services-desc Привлеките максимальное количество учеников к вашему профилю!
                      p.personal__services-price <span>от</span> 1 099 &#8381;
                  label.personal__services-label
                    input(type="radio", name="service", value="priority")
                    .personal__services-item
                      p.personal__services-heading Приоритет в поиске
                      p.personal__services-desc Привлеките максимальное количество учеников к вашему профилю!
                      p.personal__services-price <span>от</span> 999 &#8381;
                .personal__services-terms.personal__services-terms--active(data-terms="top")
                  if page === 'services-rated'
                    p.personal__services-warn <b>Ваш рейтинг ниже 4 баллов!</b><br><br>Репетиторам, чей рейтинг ниже 4 баллов <b>недоступна</b> данная услуга.<br>Чтобы воспользоваться данной услугой, вам необходимо поднять рейтинг, для ускорения ускорения данного процесса, вы можете приобрести услугу <b>«Приоритет в поиске»</b>
                  else
                    p.personal__services-subheading Выберите период размещения:
                    +radio('1 неделя <span>(стоимость 1 099 &#8381;)</span>', 'topTerm', '1099', 'personal__services-radio', true, true)
                    +radio('2 недели <span>(стоимость 2 099 &#8381;)</span>', 'topTerm', '2099', 'personal__services-radio', true)
                    +radio('4 недели <span>(стоимость 4 099 &#8381;)</span>', 'topTerm', '4099', 'personal__services-radio', true)
                .personal__services-terms(data-terms="priority")
                  p.personal__services-subheading Выберите период размещения:
                  +radio('1 неделя <span>(стоимость 999 &#8381;)</span>', 'priorityTerm', '999', 'personal__services-radio', true, true)
                  +radio('2 недели <span>(стоимость 1 099 &#8381;)</span>', 'priorityTerm', '1099', 'personal__services-radio', true)
                  +radio('4 недели <span>(стоимость 2 099 &#8381;)</span>', 'priorityTerm', '2099', 'personal__services-radio', true)
                .personal__services-footer(class=`${page === 'services-rated' ? 'personal__services-footer--hidden' : ''}`)
                  p.personal__services-selected Выбрана услуга <span data-selected="service">&laquo;Топ репетиторов на главной&raquo;</span> сроком <span data-selected="term">1 неделя</span>
                  p.personal__services-notice <b>Обращаем ваше внимание</b>, что все места распроданы до <b>31.08.2021</b>.<br>Ваш заказ будет автоматически активирован сразу по наступлению данной даты.
                  .personal__services-actions
                    p.personal__services-topay К оплате: <span>1 099 &#8381;</span>
                    if page === 'services-rated'
                      +button('primary', 'link', 'Оплатить услугу', 'personal__card-submit', {link: 'replenishment.html'})
                    else
                      +button('primary', 'popup', 'Оплатить услугу', 'personal__card-submit', {popup: 'service-pay'})
        if type === 'tutor' && page === 'verify'
          .personal__card
            .personal__card-heading
              p.personal__card-title Верификация аккаунта
            .personal__card-content
              .personal__verify
                .personal__verify-grid
                  .personal__verify-anonymous
                    p.personal__verify-title Анонимный аккаунт
                    ul.personal__verify-anonymous-list
                      li.personal__verify-anonymous-item Вывод средств 7 дней
                      li.personal__verify-anonymous-item Без приоритета в поиске
                      li.personal__verify-anonymous-item Отсутствие доверия у учеников
                      li.personal__verify-anonymous-item Без скидок на платные услуги
                  .personal__verify-verified
                    p.personal__verify-title Верифицированный аккаунт
                    ul.personal__verify-verified-list
                      li.personal__verify-verified-item Моментальный вывод средств
                      li.personal__verify-verified-item Приоритет в поиске
                      li.personal__verify-verified-item Повышенное доверие у учеников
                      li.personal__verify-verified-item Скидка на услугу ТОП репетиторов
                .personal__verify-arrow
          .personal__card
            .personal__verification
              p.personal__verification-heading 3 простых шага для верификации
              .personal__verification-item
                img.personal__verification-image(src="img/inhtml/verification-1.svg", alt="")
                p.personal__verification-title 1. Собеседование по скайпу
                p.personal__verification-desc После рассмотрения вашей заявки, мы связываемся с вами для утверждения конкретного времени для звонка.
              .personal__verification-item
                img.personal__verification-image(src="img/inhtml/verification-2.svg", alt="")
                p.personal__verification-title 2. Подтверждение документов
                p.personal__verification-desc Вы показываете рядом с собой разворот паспорта/ВУ с фотографией, так, чтобы вас было отчетливо видно.
              .personal__verification-item
                img.personal__verification-image(src="img/inhtml/verification-3.svg", alt="")
                p.personal__verification-title 3. Подтверждение сертификатов и дипломов
                p.personal__verification-desc Вы демонстрируете на камеру ваш диплом или различные сертификаты так, чтобы можно было прочитать на них текст и высылаете нам сканы документов.
              p.personal__services-notice <b>Обращаем ваше внимание</b>, что ваша заявка будет рассмотрена в течение <b>5 рабочих дней</b>.<br>С вами свяжется представитель нашего сервиса через сайт, чтобы договориться о дате и времени видеозвонка.
              .personal__verification-btn
                +button('primary', 'link', 'Отправить заявку', '', {link: '#'})
        if type === 'tutor' && page === 'ref'
          .personal__card
            .personal__card-heading
              p.personal__card-title О партнерской программе
            .personal__card-content
              p.personal__desc Партнерская программа построена таким образом что вы получаете бонус с заработка приглашенного вами репетитора на проект. Бонус составляет 15% от стоимости первого занятия ученика с приглашенным вами репетитором. Чем более активные ваши рефералы, тем больше заработка вы получаете.
          .personal__card
            .personal__card-heading
              p.personal__card-title Ваша реферальная ссылка
            .personal__card-content
              .personal__ref
                .personal__ref-link
                  +input('text', '', 'link', 'Реферальная ссылка', 'personal__ref-input', {readonly: true, value: 'https://letmetutor.com/invite/12'})
                  a.personal__ref-copy(href="javascript:void(0)") Скопировать
                  +button('primary', 'button', 'Пригласить друзей', 'personal__ref-invite')
                  .personal__ref-share
                    p.personal__ref-share-heading Отправить ссылку через:
                    a.personal__ref-share-link(href="tg://msg?text=https://letmetutor.com/invite/12", data-share="telegram")
                    a.personal__ref-share-link(href="viber://forward?text=https://letmetutor.com/invite/12", data-share="viber")
                    a.personal__ref-share-link(href="whatsapp://send?text=https://letmetutor.com/invite/12", data-share="whatsapp")
                .personal__ref-about
                  .personal__ref-about-item
                    p.personal__ref-about-title Общее кол-во рефералов
                    p.personal__ref-about-value 12
                  .personal__ref-about-item
                    p.personal__ref-about-title Общий заработок
                    p.personal__ref-about-value 1000 <span>&#8381;</span>
                p.personal__services-notice <b>Обращаем ваше внимание</b>, что минимальная сумма для вывода через нашу партнерскую программу составляет <b>1000 ₽</b>.
                .personal__ref-actions
                  p.personal__ref-balance На балансе: <span>500 &#8381;</span>
                  +button('primary', 'link', 'Вывести средства', '', {link: '#', disabled: true})
          .personal__card
            .personal__card-heading
              p.personal__card-title Список рефералов
            .personal__card-content
              .personal__reflist
                .personal__reflist-head
                  .personal__reflist-cell
                    p.personal__reflist-heading Реферал
                  .personal__reflist-cell
                    p.personal__reflist-heading Общая сумма
                .personal__reflist-row
                  .personal__reflist-cell
                    .personal__reflist-img(style="background-image: url('img/inhtml/tutor-3.jpg')")
                    p.personal__reflist-name Анастасия Петрова
                  .personal__reflist-cell
                    p.personal__reflist-price 500 &#8381;
                .personal__reflist-row
                  .personal__reflist-cell
                    .personal__reflist-img(style="background-image: url('img/inhtml/tutor-1.jpg')")
                    p.personal__reflist-name Анастасия Петрова
                  .personal__reflist-cell
                    p.personal__reflist-price 500 &#8381;
                .personal__reflist-row
                  .personal__reflist-cell
                    .personal__reflist-img(style="background-image: url('img/inhtml/tutor-2.jpg')")
                    p.personal__reflist-name Анастасия Петрова
                  .personal__reflist-cell
                    p.personal__reflist-price 500 &#8381;
                .personal__reflist-row
                  .personal__reflist-cell
                    .personal__reflist-img(style="background-image: url('img/inhtml/tutor-4.jpg')")
                    p.personal__reflist-name Анастасия Петрова
                  .personal__reflist-cell
                    p.personal__reflist-price 500 &#8381;
                .personal__reflist-row
                  .personal__reflist-cell
                    .personal__reflist-img(style="background-image: url('img/inhtml/student-1.jpg')")
                    p.personal__reflist-name Анастасия Петрова
                  .personal__reflist-cell
                    p.personal__reflist-price 500 &#8381;
                +button('secondary', 'button', 'Показать еще', 'personal__reflist-btn')
          .personal__card
            .personal__card-heading
              p.personal__card-title История операций
            .personal__card-content
              .personal__refhistory
                .personal__refhistory-head
                  .personal__refhistory-cell
                    p.personal__refhistory-heading Дата
                  .personal__refhistory-cell
                    p.personal__refhistory-heading Тип операции
                  .personal__refhistory-cell
                    p.personal__refhistory-heading Сумма
                .personal__refhistory-row
                  p.personal__refhistory-cell 10.08.2021
                  p.personal__refhistory-cell Реферальное начисление от <a href="tutor">Анастасии И.</a>
                  p.personal__refhistory-cell 400 &#8381;
                .personal__refhistory-row
                  p.personal__refhistory-cell 05.08.2021
                  p.personal__refhistory-cell Вывод средств
                  p.personal__refhistory-cell 1000 &#8381;
                .personal__refhistory-row
                  p.personal__refhistory-cell 04.08.2021
                  p.personal__refhistory-cell Вывод средств
                  p.personal__refhistory-cell 400 &#8381;
                .personal__refhistory-row
                  p.personal__refhistory-cell 02.08.2021
                  p.personal__refhistory-cell Реферальное начисление от <a href="tutor">Антона К.</a>
                  p.personal__refhistory-cell 100 &#8381;
                .personal__refhistory-row
                  p.personal__refhistory-cell 01.06.2021
                  p.personal__refhistory-cell Вывод средств
                  p.personal__refhistory-cell 400 &#8381;
        if type === 'student' && page === 'applications'
          .personal__card
            .personal__card-heading
              p.personal__card-title Активные заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__card-content
              +application('student', {person: {image: 'tutor-2.jpg', name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн'], ['Стоимость часа', '1000 ₽']]})
        if type === 'student' && page === 'applications-accepted'
          .personal__card
            .personal__card-heading
              p.personal__card-title Подтвержденные заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__card-content
              +application('student-accepted', {person: {image: 'tutor-2.jpg', name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']]})
              +application('student-accepted', {person: {image: 'tutor-2.jpg', name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']]})
        if type === 'student' && page === 'applications-paid'
          .personal__card
            .personal__card-heading
              p.personal__card-title Оплаченные заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            .personal__card-content
              +application-past('student', {person: {name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']]})
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
        if type === 'student' && page === 'applications-declined'
          .personal__card
            .personal__card-heading
              p.personal__card-title Отклоненные заявки
              .catalog__sort-item.dropdown.dropdown--caret.js-catalog-limit Показывать на странице:
                p.dropdown__value 10
                .dropdown__menu.dropdown__menu--small
                  a.dropdown__menu-item.dropdown__menu-item--hidden(href="javascript:void(0)", data-toggle) 10
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 20
                  a.dropdown__menu-item(href="javascript:void(0)", data-toggle) 30
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            .personal__card-content
              +application-past('student-declined', {person: {name: 'Анна Иванова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Количество раз в неделю', '3'], ['Желаемое время', '15:00'], ['Тип занятия', 'Онлайн']]})
              +application-past('student-reject', {person: {name: 'Анастасия Петрова'}, type: 'Заявка на занятия', table: [['Предмет', 'Английский язык'], ['Цель занятий', 'Подтянуть уровень языка'], ['Дата занятия', '16.07.2021'], ['Время занятия', '08:00'], ['Тип занятия', 'Онлайн']]})
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
        if type === 'student' && page === 'offers'
          .personal__card
            .personal__card-heading
              p.personal__card-title Предложения репетиторов
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            .personal__card-content
              +application('student-offer-pay', {person: {name: 'Анна Иванова', image: 'tutor-2.jpg'}, type: 'Новое', table: [['Предмет', 'Английский язык'], ['Тип занятия', 'Онлайн']]})
              +application('student-offer-balance', {person: {name: 'Анастасия Петрова', image: 'tutor-1.jpg'}, type: 'Новое', table: [['Предмет', 'Английский язык'], ['Тип занятия', 'Онлайн']]})
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
          .personal__card
            .personal__card-heading
              p.personal__card-title Архив предложений
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="offers-delete") Удалить отмеченные
            .personal__card-content
              +application-past('student-offer-archive', {person: {name: 'Анна Иванова'}, type: 'Оплачено', table: [['Предмет', 'Английский язык'], ['Тип занятия', 'Онлайн']]})
              +application-past('student-offer-archive', {person: {name: 'Анастасия Петрова'}, type: 'Отклонено', table: [['Предмет', 'Английский язык'], ['Тип занятия', 'Онлайн']]})
            .personal__applications
              +checkbox('Отметить все', 'checkAllApplications', 'personal__applications-checkbox')
              a.personal__applications-remove.js-open-popup(href="javascript:void(0)", data-popup="applications-delete") Удалить отмеченные
            +button('secondary', 'button', 'Загрузить еще', 'personal__applications-more')
        if type === 'student' && page === 'offers-none'
          .personal__card
            .personal__empty
              p.personal__empty-heading У вас пока нет предложений от репетиторов
              .personal__empty-btn
                +button('primary', 'link', 'Найти репетитора', '', {link: 'catalog.html'})