mixin textarea(label, name, placeholder, className, options)
  label.textarea(class=`${className || ''}`)
    if label.length
      p.textarea__label!= label
    .textarea__wrapper
      textarea.textarea__field(
        name=name,
        required=options && options.required,
        placeholder=placeholder,
        data-min=options && options.min,
        readonly=options && options.readonly)= options && options.value
    if options && options.error
      p.textarea__error= options.error