include ../_ui/heading/heading
include ../_ui/button/button

-const items = [{image: 'top-1.png',name: 'Ирина Иванова',rating: '5.0',reviews: '15 отзывов',subjects: 'Английский язык, Немецкий язык, Английский язык, Немецкий язык, Английский язык, Немецкий язык, Английский язык, Немецкий язык, Украинский язык'},{image: 'top-2.png',name: 'Степан Пупкин',rating: '4.0',reviews: '10 отзывов',subjects: 'Немецкий язык, Украинский язык'},{image: 'top-3.png',name: 'Василий Сидоров',rating: '4.5',reviews: '11 отзывов',subjects: 'Английский язык, Украинский язык'},{image: 'top-4.png',name: 'Анна Пупкина',rating: '5.0',reviews: '20 отзывов',subjects: 'Английский язык, Немецкий язык, Французский язык'},{image: 'top-5.png',name: 'Людмила Сидорова',rating: '4.0',reviews: '99 отзывов',subjects: 'История, География, Политология, Социология'},{image: 'top-6.png',name: 'Анастасия Петрова',rating: '4.7',reviews: '24 отзывов',subjects: 'Физика, Химия'},{image: 'top-7.png',name: 'Ольга Пупкина',rating: '4.9',reviews: '50 отзывов',subjects: 'Программирование'},{image: 'top-8.png',name: 'Анжела Иванова',rating: '4.2',reviews: '70 отзывов',subjects: 'Психология'},{image: 'top-9.png',name: 'Анна Пупкина',rating: '4.8',reviews: '45 отзывов',subjects: 'Украинский язык'},{image: 'top-10.png',name: 'Александра Сидорова',rating: '4.0',reviews: '35 отзывов',subjects: 'Основы педагогики и психологии'},{image: 'top-11.png',name: 'Елена Петрова',rating: '5.0',reviews: '17 отзывов',subjects: 'Итальянский язык'},{image: 'top-12.png',name: 'Алина Иванова',rating: '4.1',reviews: '18 отзывов',subjects: 'Английский язык'}]

mixin top
  section.top.container
    .top__wrapper.wrapper
      +heading('Топ репетиторов')
      .top__grid
        each el in items
          a.top__item(href="#")
            .top__item-pic(style=`background-image: url("img/inhtml/${el.image}")`)
            p.top__item-name= el.name
            .top__item-feedback
              span.top__item-rating= el.rating
              span.top__item-reviews= `(${el.reviews})`
            p.top__item-subjects= el.subjects
      .top__btn
        +button('primary', 'link', 'Присоединиться', '', {link: '#'})